:host {
    display: block;
}

.page {

}

header {
    nav {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
            }
        }
    }
}

main {

}

footer {
    
}