:host {
    display: block;
}

.page {

}

header {

    border-bottom: 1px solid #111;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: 100%;

    .title {
        float: left;
        width: 30%;
    }

    nav {
        float: right;
        width: 70%;

        ul {
            margin: 0;
            padding: 0;
            text-align: right;

            li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0 5px;
                
                &:hover {
                    background-color: #eee;
                    color: #333;
                }

                a {
                    text-decoration: none;

                    &.active {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

main {
    padding: 5px;
}